:root {
  --width-app: 270px;
}
body {
  background-color: #941;
  box-sizing: content-box;
  user-select: none;
}

.app {
  display: flex;
  flex-direction: column;
}

.app .keyboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  border: solid 1px black;
  padding: 20px 30px;
  border-radius: 10px;
  /* overflow: var(); */
  /* scrollbar-width: auto; */
}

input {
  /* position: relative; */
  background-color: rgb(126, 112, 104);
  margin: 15px 30px;
  margin-bottom: 0px;
  width: inherit;
  height: 50px;
  border-radius: 10px;
  pointer-events: none;
  font-size: 30px;
}

.fila {
  display: flex;
  gap: 5px;
}
.key {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  flex: 1 0 30px;
  height: 50px;
  padding: 0px 5px;
  margin: 3px 0px;
  box-sizing: border-box;
}

.key:hover {
  background-color: rgb(104, 47, 11);
}

.buttonActive {
  background-color: rgb(104, 47, 11);
}
